@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Poppins&display=swap');

:root {
  --white: #ebebeb;
  --white2: #adadad;
  --black: #1f1c1c;
  --black2: #252222;
  --black3: #444444;
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* 1rem = 10px [default] */
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

.btn {
  padding: 16px 32px;
  font-size: 2rem;
  cursor: pointer;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid var(--white);
  color: var(--white);
  transition: 0.2s all ease;
}

.btn:hover {
  background-color: var(--white);
  border-radius: 3px;
  border: 1px solid var(--white);
  color: var(--black);
}

.btn-ts-sm {
  width: 100%;
  padding: 8px 16px;
  font-size: 2rem;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--black);
  color: var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s all ease;
  /* the animation ripple animation */
  background-position: center;
  transition: background 0.2s;
}

.btn-ts-sm:hover {
  background-color: var(--black2);
  color: var(--white);

  /* animation */
  background-image: radial-gradient(circle, transparent 1%, var(--white2));
  background-position: center;
  background-size: 15000%;
}

.btn-ts-sm:active {
  transition: background 0s;
  background-color: var(--black2);
  background-size: 100%;
}

.div_center{
  display: flex;
  justify-content: center;
  align-items: center;
}